<form action="/update" method="post" id="1">
<input type="text" name="name" id="" placeholder="{{name}}"><button type="submit", form="1">Change Name</button>
<input type="hidden" name="id" value="{{_id}}">
</form>
<a href="/">Go back</a>